.add-comment-form {
	&__mobile {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__mobile-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}
}
