@use "../abstracts/colors" as *;

.add-comment-form {
	&__mobile {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__mobile-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__textarea {
		padding: 10px 20px;
		resize: none;
		border: 1px solid $secondary-grey-color;
		border-radius: 8px;

		&:focus {
			outline: none;
			border: 1px solid $main-color-bright;
		}
	}

	&__img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}
}
