@use "../abstracts/colors" as *;

.comment {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: clamp(300px, 90%, 800px);
	background-color: #fff;
	border-radius: 8px;
	padding: 15px 15px 60px 15px;

	&__top {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	&__top-img {
		height: 30px;
		width: 30px;
		border-radius: 50%;
	}

	&__top-username {
		color: $secondary-color;
		font-weight: bold;
	}

	&__top-created-at {
		color: $main-grey-color;
	}

	&__content {
		color: $main-grey-color;
		line-height: 22px;
	}
}
