@use "../abstracts/colors" as *;

.comment-container {
	width: clamp(300px, 90%, 800px);
}

.comment {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	background-color: #fff;
	border-radius: 8px;
	padding: 15px 15px 60px 15px;

	&__top {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	&__top-img {
		height: 30px;
		width: 30px;
		border-radius: 50%;
	}

	&__top-username {
		color: $secondary-color;
		font-weight: bold;
	}

	&__top-created-at {
		color: $main-grey-color;
	}

	&__content {
		color: $main-grey-color;
		line-height: 22px;
		word-wrap: break-word;
	}

	&__content-username {
		color: $main-color;
		font-weight: bold;
		margin-right: 5px;
	}

	&__form-editor {
		width: 100%;
		background-color: #fff;
		border-radius: 8px;
		padding: 15px 15px 15px 15px;
		margin-top: 10px;
	}

	&__btns-row {
		position: absolute;
		bottom: 15px;
		right: 15px;
		display: flex;
		gap: 5px;
	}
}

@media (min-width: 992px) {
	.comment {
		padding: 20px 20px 20px 70px;

		&__btns-row {
			bottom: auto;
			top: 15px;
		}
	}
}
