@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;

.delete-confirm-btn {
    @include btn-filled;
    background-color: $red-color;
    color: #fff;
    font-weight: bold;
    width: 50%;

    &:hover {
        background-color: $red-color-bright;
    }
}