@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.reply-btn {
    @include comment-btn;
    right: 15px;
    color: $main-color;

    &:hover {
        color: $main-color-bright;
    }
}