@use "../abstracts/colors" as *;

.score-container {
	position: absolute;
	left: 15px;
	bottom: 15px;
	display: flex;
	height: 30px;

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		padding: 10px;
		height: 100%;
		cursor: pointer;
		background-color: $secondary-grey-color;
	}

	&__btn--plus-btn {
		border-radius: 8px 0 0 8px;
	}

	&__btn--minus-btn {
		border-radius: 0 8px 8px 0;
	}

	&__number {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 10px;
		background-color: $secondary-grey-color;
		color: $main-color;
		font-weight: 500;
	}
}

@media (min-width: 992px) {
	.score-container {
		bottom: auto;
		top: 15px;
		flex-direction: column;

		&__btn--plus-btn {
			border-radius: 8px 8px 0 0;
		}

		&__btn--minus-btn {
			border-radius: 0 0 8px 8px;
		}
	}
}
