@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.send-btn {
	@include btn-filled;
	background-color: $main-color;
	color: #fff;

	&:hover {
		background-color: $main-color-bright;
	}
}
