@mixin comment-btn {
	position: absolute;
	bottom: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	border: none;
	background-color: transparent;
	padding: 10px;
	cursor: pointer;
	transition: color 0.2s;
	font-weight: bold;
}
